[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[hub]
  protocol = https
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = upstream
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  ksreview = "!sh -c 'SHA=${1:-HEAD}; BRANCH=${2:-master}; if [ $SHA == $BRANCH ] ; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA;' -"
  ksshow = "!sh -c 'SHA=${1:-HEAD}; git difftool -y -t Kaleidoscope $SHA^..$SHA;' -"
  ksdiff = difftool -y -t Kaleidoscope
  ksmerge = mergetool -y -t Kaleidoscope
